<div class="login-container">
  <p-card header="Portal Empresa" subheader="Iniciar sesión">
    <form [formGroup]="form" (ngSubmit)="login()" class="p-fluid">

      <div class="p-field">
        <label for="email">Correo electrónico</label>
        <input pInputText id="email" formControlName="email" />
        <small *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="p-error">
          Correo requerido y válido.
        </small>
      </div>

      <div class="p-field">
        <label for="password">Contraseña</label>
        <input pPassword id="password" formControlName="password" [feedback]="false" />
        <small *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="p-error">
          Contraseña requerida.
        </small>
      </div>

      <p-button label="Entrar" type="submit" [disabled]="form.invalid" class="mt-2"></p-button>

      <p *ngIf="error" class="p-error mt-2">{{ error }}</p>
    </form>
  </p-card>
</div>